@font-face {
}

body{
    background-color: rga(255,255,255);
    margin: 0;
}

.page-wrapper{

}

.footer{

}

.intro{
    padding: 1rem;
    margin: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

.explanation, .participation, .benefits, .requirements, .footer, .sidebar{
    padding: 1rem;
    margin: 1rem;
}

.footer{
    margin-bottom: 0;
}

.main{
    
}

.sidebar{
    display: flex;
    margin-bottom: 0;
}

.wrapper{
    display: flex;
    width: 100%;
}

.design-selection, .design-archives, .design-resources{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header{
    transition: color .5s;
}

.header:hover {
    color: white;
}